@model AspNote.Models.User
<h2>Register Page!</h2>

<form class="form-horizontal" method="post" asp-controller="Account" asp-action="Register">
    <div class="form-group">
        <label>UserID</label>
        <input type="text" class="form-control" asp-for="UserId" placeholder="Insert User ID"/>
        <span class="text-danger" asp-validation-for="UserId"></span>
    </div>
    <div class="form-group">
        <label>UserPW</label>
        <input type="text" class="form-control" asp-for="UserPassword" placeholder="Insert User Password"/>
         <span class="text-danger" asp-validation-for="UserPassword"></span>
    </div>
    <div class="form-group">
        <label>UserName</label>
        <input type="text" class="form-control" asp-for="UserName" placeholder="Insert User Name"/>
         <span class="text-danger" asp-validation-for="UserName"></span>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
        <a class="btn btn-warning" href="#">Cancellation</a>
    </div>
</form>